<header>
    <div class="grid">
        <div class="col-3 logo">
            <h1>FURNITURA</h1>
            <!-- <img src="assets/images/logo.png" alt=""> -->
        </div>
        <!-- <div class="col-3 search">
            <products-search></products-search>
        </div> -->
        <div class="col-4 col-offset-1 navbar">
            <ngshop-nav></ngshop-nav>
        </div>
        <div class="col-3 user-info">
            <users-user-info></users-user-info>
        </div>
        <div class="col-1 tools">
            <!-- <i 
                class="pi pi-user p-text-secondary"  
                style="font-size: 1.5rem"
            ></i> -->
            <!-- <a routerLink="./register" >Register</a> -->
            <orders-cart-icon></orders-cart-icon>
        </div>
    </div>
</header>
